# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
ENV/
env/
.venv/

# Environment variables
.env
.env.*

# VSCode
.vscode/

# macOS
.DS_Store

# PyCharm
.idea/

# Logs
*.log

# Test coverage
htmlcov/
.coverage
.tox/

# MyPy
.mypy_cache/

# Jupyter
.ipynb_checkpoints/
